.signin button{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    background-color: #4285F4;
    color: #fff;
    height: 3rem;
    width: 15rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}